<html>
    <head>
        {% if title %}
        <title>{{ title }} - Freezer</title>
        {% else %}
        <title>Freezer</title>
        {% endif %}
    </head>
    <body>
        <div>
            Freezer:
            <a href="/index">Home</a>
            {% if current_user.is_anonymous %}
            <a href="/login">Login</a>
            {% else %}
            <a href="/logout">Logout</a>
            {% endif %}
            <a href="/add_meal">Add Meal</a>
            <a href="/delete_meal">Delete Meal</a>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>